#SearchButton {
    background-color: LightBlue;
    border-style: outset;
    border-width: 2px;
    border-radius: 10px;
    border-color: beige;
    font: bold 14px;
    min-width: 10em;
    padding: 6px;
}
#SearchButton: pressed  {
    background-color: blue;
}

#SearchButton: hover, {
     background-color: rgb(224, 255, 0);
}

#SearchButton1 {
    background-color: blue;
}

