#evilButton {
    background-color: red;
    border-style: outset;
    border-width: 2px;
    border-radius: 10px;
    border-color: beige;
    font: bold 14px;
    min-width: 10em;
    padding: 6px;
}
#evilButton:pressed  {
    background-color: blue;
}

#evilButton:hover, #SearchButton:hover {
     background-color: rgb(224, 255, 0);
}

#SearchButton {
    background-color: blue;
}
